fastapi~=0.104.1
uvicorn
SQLAlchemy~=2.0.23
Pyrogram~=2.0.106
fastapi-pagination~=0.12.12
APScheduler~=3.10.4
passlib~=1.7.4
python-jose~=3.3.0
pydantic-settings~=2.1.0
pydantic~=2.5.2
starlette~=0.27.0